python-dateutil==2.8.2
pip~=21.2.4
py~=1.10.0
setuptools~=65.6.0
parameterized~=0.8.1
mdformat~=0.7.10
ruamel.yaml>=0.17.10
xmltodict~=0.12.0
lxml~=4.6.3
pandas~=1.3.3
pdf2image~=1.16.0
Pillow~=8.3.2
icalendar~=4.0.7
pytz~=2021.1
python-pptx~=0.6.21