name: Calendar event update

on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch:

jobs:
  update_calendar:
    name: Run Python unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Get release
        id: get_release
        uses: jossef/action-latest-release-info@v1.2.0
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python setup.py install
          mkdir output

      - name: Create calendar event
        run: python ./resume/__main__.py --input 'resume.json' --output 'output/resume.ics' --format 'ics'

      - name: Upload calendar event
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.get_release.outputs.tag_name }}
          release_name: ${{ steps.get_release.outputs.name }}
          file: ./output/resume.ics
          overwrite: true
          asset_name: resume.ics
